node_modules
.DS_Store
dist
coverage
.nyc_output
.env
.firebaserc
firebase-debug.log*
ui-debug.log*
*.log
firebase-data/
packages/core/node_modules
# Generated API types
packages/core/api/generated.ts
