# Dependencies
/node_modules

# Testing
/coverage
/test-results

# Build
/dist
/build
packages/*/dist

# IDE
.idea/
.vscode/

# OS
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Emulator Data
firebase-data/

# Firebase & GCP Credentials
firebase-deploy-key.json
*-service-account.json
.firebaserc
.firebase/
