name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20.x'
      - run: npm ci
      - run: npm run build --if-present
      - run: npm run lint
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Install Firebase CLI
        run: npm install -g firebase-tools
      - name: Run Tests with Emulators
        run: firebase emulators:exec --only firestore,functions 'npm run test:coverage'
        env:
          FIRESTORE_EMULATOR_HOST: "localhost:8080"

      - name: Data Verification
        run: |
          npm run ingest
          npm run validate

      - name: Create SA Key
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_FLAME_27501 }}' > service-account.json

      - name: Deploy Firestore Rules & Indexes
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: npx firebase-tools deploy --only firestore --project flame-27501
        env:
          GOOGLE_APPLICATION_CREDENTIALS: service-account.json
        continue-on-error: true
